version: '3.9'

services:
  frontend: 
    build:
      context: ./frontend 
      dockerfile: Dockerfile 
    ports:
      - "4000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:4200  # Backend URL
      - CHOKIDAR_USEPOLLING=1  # Enables file watching in Dockerw
    depends_on:
      - backend
    develop:
      watch:
        - action: sync
          path: ./frontend
          target: /app
          ignore:
            - node_modules/
            - .next/
            - .git/

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile 
    ports:
      - "4200:4200"
    environment:
      - FLASK_ENV=development 
    develop:
      watch:
        - action: sync
          path: ./backend
          target: /app
          ignore:
            - __pycache__/
            - .venv/
