Flask==3.0.3
Flask-Cors==4.0.1
langchain==0.2.14
langchain-cohere==0.1.9
langchain-community==0.2.12
langchain-core==0.2.43
langchain-google-genai==1.0.8
python-dotenv==1.0.1
Flask-SocketIO==5.4.1
spacy==3.7.2
pypdf==5.1.0
chromadb==0.5.23
redis==3.5.3

en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
