chromadb>=0.6.3
crawl4ai>=0.6.3
hf-xet>=1.1.3
google-search-results>=2.4.0
faiss-cpu>=1.11.0
fastapi>=0.115.12
google-generativeai>=0.8.5
langchain>=0.3.25
langchain-community>=0.3.24
langchain-core>=0.3.63
langchain-google-genai>=2.0.10
langchain-groq>=0.3.2
playwright>=1.52.0
pypdf>=5.6.0
python-dotenv>=1.1.0
requests>=2.32.3
sentence-transformers>=4.1.0
serpapi>=0.1.5
spacy>=3.8.7
uvicorn>=0.34.3
yfinance>=0.2.61
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
